<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Quản Lý Tour Du Lịch</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/layout-css/admin.css}">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

</head>
<body>
<div th:replace=" pages/Admin/admin :: sidebar"></div>
<div class="content">
    <div class="row">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Quản Lý Tài Khoản</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                                                    <li class="nav-item">
                                                        <a class="nav-link" id="helloAccount" href="#">Xin chào, admin!</a>
                                                    </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Thông báo <span class="badge bg-danger">2</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Đăng xuất</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <form id="infoForm">
            <div class="row">
                <div class="mb-3">
                    <label for="idUserId" class="form-label">UserId</label>
                    <input type="text" class="form-control" id="idUserId" name="UserId" disabled>
                </div>
                <div class="mb-3">
                    <label for="InputUserName" class="form-label">UserName</label>
                    <input type="text" oninput="validateFormUserName()"  class="form-control" id="InputUserName" name="username">
                    <div id="userNameError" class="error text-danger"></div>
                </div>
                <div class="mb-3">
                    <label for="InputPassword1" class="form-label">Password</label>
                    <input type="password" oninput="validateFormPassWord()" name="password" class="form-control" id="InputPassword1">
                    <div id="passWordError" class="error text-danger"></div>
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email address</label>
                    <input type="email" oninput="validateFormEmail()" class="form-control" name="email" id="email">
                    <div id="emailError" class="error text-danger"></div>
                </div>
                <div class="mb-3">
                    <label for="phone" class="form-label">Số điện thoại</label>
                    <input type="number" oninput="validateFormPhone()" class="form-control" id="phone">
                    <div id="phoneError" class="error text-danger"></div>
                </div>
                <div class="d-flex align-items-center">
                    <div class="col-3 form-check mb-2">
                        <input class="form-check-input me-2" type="radio" value="" id="Admin" name="role"/>
                        <label class="form-check-label " for="Admin">
                            Admin
                        </label>
                    </div>
                    <div class="col-3 form-check mb-2">
                        <input class="form-check-input me-2" type="radio" value="" id="User" name="role"/>
                        <label class="form-check-label" for="User">
                            User
                        </label>
                    </div>
                </div>
            </div>
        </form>
        <div class="bottom">
            <button type="button" id="addAccountBtn" onclick="saveAccountInForm()" class="btn btn-outline-info">Create
            </button>
            <button type="button" onclick="updateAccountInForm()" class="btn btn-outline-success">Update</button>
            <button type="button" onclick="deleteAccount()" class="btn btn-outline-danger">Delete</button>
            <button type="button" id="btnClearForm" class="btn btn-outline-info" onclick="clearForm()">Clear</button>
        </div>

        <div class="tableQLTour">
            <table class="table" id="fillToForm">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>UserName</th>
                    <th>Password</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Role</th>
                    <th>Edit</th>
                </tr>
                </thead>
                <tbody id="bodyTableListAccount">
                </tbody>
            </table>
        </div>
    </div>
</div>
<script type="application/javascript">
    // <!--    listAccount = [-->
    // <!--        {-->
    // <!--            userId: "001",-->
    // <!--            accountName: "Bui Quoc Dat",-->
    // <!--            password: "123456",-->
    // <!--            email: "datbui185@gmail.com",-->
    // <!--            phone: "0964192032",-->
    // <!--            role: {-->
    // <!--                roleId: "001",-->
    // <!--                roleName: "Admin"-->
    // <!--            }-->
    // <!--        },-->
    // <!--        {-->
    // <!--            userId: "002",-->
    // <!--            accountName: "Truong Tuan Dung",-->
    // <!--            password: "654321",-->
    // <!--            email: "tuandung@gmail.com",-->
    // <!--            phone: "0394314552",-->
    // <!--            role: {-->
    // <!--                roleId: "002",-->
    // <!--                roleName: "User"-->
    <!--            }-->
    <!--        }-->
    <!--    ]-->

    $(document).ready(async function () {
        await loadDataAccount();
        createTableAccount(listAccount);
        $("#helloAccount").text("Xin Chào," + localStorage.getItem("account")+ "!")
    });

    function createTableAccount(addToTable) {
        let bodyTableListAccountString = '';

        addToTable.forEach(function (e, index) {
            bodyTableListAccountString +=
                `<tr>` +
                `<td>${index + 1}</td>` +
                `<td>${e.accountName}</td>` +
                `<td>${e.password}</td>` +
                `<td>${e.email}</td>` +
                `<td>${e.phone}</td>` +
                `<td>${e.role.role_name}</td>` +
                `<td>` +
                `<button type="button"
                        onclick="getAccountInformation(${e.userId})"
                        className="btn btn-outline-success">Edit</button>` +
                `</td>` +
                `</tr>`;
        });

        $("#bodyTableListAccount").html(bodyTableListAccountString);
        // document.addEventListener('DOMContentLoaded', function () {
        //     const addAccountBtn = document.getElementById('addAccountBtn');
        //
        //     // Fetch all users and display them in the table
        //     createTableAccount();
        //
        //     addAccountBtn.addEventListener('click', function () {
        //         const name = document.getElementById('InputUserName').value;
        //         const age = document.getElementById('InputPassword1').value;
        //         const email = document.getElementById('email').value;
        //         const phone = document.getElementById('phone').value;
        //         // const role = document.getElementById('email').value;
        //
        //         fetch('/account-api', {
        //             method: 'GET',
        //                 headers: {
        //                 'Content-Type': 'application/json'
        //             },
        //             body: JSON.stringify({name, age, email, phone})
        //         })
        //             .then(response => response.json())
        //             .then(data => {
        //                 alert('User added!');
        //                 createTableAccount(); // Refresh the user list
        //             })
        //             .catch(error => console.error('Error:', error));
        //     });
        // })
    }

    async function loadDataAccount() {
        let response = await axios.get(`/account-api/getAllAccount`);
        listAccount = response.data.data;
    }

    async function getAccountInformation(userId) {
        let response = await axios.get(`/account-api/getUserByUserId?userId=${userId}`);
        let result = response.data;
        if (result.status) {
            fillDetailForm(result.data)
        }
    }
    async function deleteAccount(){
        let param = {
            userId : $('#idUserId').val()
        }
        let response = await axios.delete(`/account-api/DeleteId`, { params: param });
        let result = response.data;
        if(result.success){
            alert('Xóa Account thành công');
        }else{
            alert('Xóa Account thất bại');
        }
        await loadDataAccount();
        createTableAccount(listAccount);
        clearForm();
    }
    async function updateAccountInForm() {

        let accountData = {
            userId : $("#idUserId").val(),
            accountName: $("#InputUserName").val(),
            password: $("#InputPassword1").val(),
            email: $("#email").val(),
            phone: $("#phone").val(),
            role: {
                role_id: $("#Admin").prop('checked') ? 1 : 2,
                role_name: $("#Admin").prop('checked') ? 'Admin' : 'User'
            }
        }
        let response = await axios.post(`/account-api/addAccount`, accountData)
        let result = response.data;
        if(result.status){
            alert('Update Account thành công');
        }else{
            alert('Update Account thất bại');
        }
        await loadDataAccount();
        createTableAccount(listAccount);
        clearForm();
    }
    async function saveAccountInForm() {
        if(!validateFormUserName()){
            return;
        }
        if(!validateFormPassWord()){
            return;
        }
        if(!validateFormEmail()){
            return;
        }
        if(!validateFormPhone()){
            return;
        }
        let accountData = {
            accountName: $("#InputUserName").val(),
            password: $("#InputPassword1").val(),
            email: $("#email").val(),
            phone: $("#phone").val(),
            role: {
                role_id: $("#Admin").prop('checked') ? 1 : 2,
                role_name: $("#Admin").prop('checked') ? 'Admin' : 'User'
            }
        }
        let response = await axios.post(`/account-api/addAccount`, accountData)
        let result = response.data;

         if(result.status){
            alert('Save Account thành công');
        }else{
            alert('Save Account thất bại');
        }
        await loadDataAccount();
        createTableAccount(listAccount);
        clearForm();
    }

    function clearForm() {
        fillDetailForm({
            accountName: '',
            password: '',
            email: '',
            phone: '',
            role: {
                role_id: 1,
                role_name: 'Admin'
            }
        });
    }

    function fillDetailForm(accountDetail) {
        $("#idUserId").val(accountDetail.userId);
        $("#InputUserName").val(accountDetail.accountName);
        $("#InputPassword1").val(accountDetail.password);
        $("#email").val(accountDetail.email);
        $("#phone").val(accountDetail.phone);
        accountDetail.role?.role_name === 'Admin'? $("#Admin").prop('checked',true) : $("#User").prop('checked',true)
    }
    validateFormUserName = () =>{
        if(!$("#InputUserName").val()){
            $("#userNameError").text("Vui lòng nhập tài khoản!");
            return false;
        }else{
            $("#userNameError").text("");
        }
        return true;
    }
    validateFormPassWord = () =>{
        if (!$("#InputPassword1").val()){
            $("#passWordError").text("Vui lòng nhập mật khẩu!");
            return false;
        }else{
            $("#passWordError").text("");
        }
        return true;
    }
    validateFormEmail = () =>{
        if (!$("#email").val()){
            $("#emailError").text("Vui lòng nhập email!");
            return false;
        }else {
            $("#emailError").text("");
        }
        let regex = /^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/;
        if(!regex.test($("#email").val())){
            $("#emailError").text("Vui lòng nhập email đúng quy tắc!");
            return false;
        }else {
            $("#emailError").text("");
        }
        return true;
    }
    validateFormPhone = () =>{
        if (!$("#phone").val()){
            $("#phoneError").text("Vui lòng nhập số điện thoại!");
            return false;
        }else {
            $("#phoneError").text("");
        }
        return true;
    }

</script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>
</body>
</html>