<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
<div class="bg-info" th:fragment="footer">
    <div class="container-fluid">
        <div class="container">
        <div class="row">
            <div class="col-4">
                <p><strong>CÔNG TY CỔ PHẦN Anhdev</strong>
                <p>
                <p><strong>Trụ sở chính:</strong> CVPM Quang Trung, Phường Tân Chánh Hiệp, Quận 12, Thành phố Hồ Chí
                    Minh, Việt Nam
                <p>
                <p><strong>Chi nhánh Quận 1:</strong> 73 Đ. Yersin, Phường Cầu Ông Lãnh, Quận 1, Thành phố Hồ Chí Minh,
                    Việt Nam
                <p>
                <p><strong>Điện thoại:</strong> 02838297643 | Hotline: 113
                <p>
                <p><strong>Website:</strong> https://vitamincode.edu.vn/
                <p>
                <p><strong>Email:</strong> thoi9875@gmail.com
                <p>
            </div>
            <div class="col-2">
                <p><strong>Góc khách hàng</strong></p>
                <a href="#" class="GKH">Chính sách đặt tour</a> <br>
                <a href="#" class="GKH">Chính sách bảo mật</a><br>
                <a href="#" class="GKH">Ý kiến khách hàng</a><br>
                <a href="#" class="GKH">Phiếu góp ý</a><br>
            </div>
            <div class="col-2">
                <p><strong>Chứng nhận</strong></p>
                <img th:src="@{/images/dmca.png}" class="w-50">
                <img th:src="@{/images/thongbaobocongthuong.png}" class="w-50">

            </div>
            <div class="col-4">
                <p><strong>Đăng ký nhận thông tin khuyến mãi</strong></p>
                <p>Nhập email để có cơ hội giảm 50% cho chuyến đi tiếp theo của Quý khách</p>
                <div class="input-group">
                    <input type="email" class="form-control" placeholder="Email của bạn" aria-label="Email của bạn"
                           aria-describedby="email-addon">
                    <span class="input-group-text" id="email-addon">
                   <i class="fa-solid fa-envelope"></i>
                </span>
                </div>
            </div>

        </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.min.js"></script>
<script src="https://kit.fontawesome.com/77eced6b9d.js" crossorigin="anonymous"></script>
</body>
</html>