body {
    /*display: flex;*/
}
.sidebar {
    width: 250px;
    background-color: #343a40;
    color: #fff;
    height: 100vh;
    position: fixed;
}
.sidebar .nav-link {
    color: #fff;
}
.sidebar .nav-link.active {
    background-color: #007bff;
}
.content {
    margin-left: 250px;
    padding-left: 15px;
    padding-right: 15px;
    flex: 1;
}