<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/layout-css/background.css}">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/@sweetalert2/theme-dark@4/dark.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>
<body>
<section class="vh-100 d-flex justify-content-center align-items-center">
    <div class="container h-custom">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <video autoplay muted loop class="video-background">
                <source th:src="@{/images/BgLogin.mp4}" type="video/mp4">
            </video>
            <div class="col-md-9 col-lg-6 col-xl-5">
                <img th:src="@{/images/LogoLogin.png}" alt="" class="img-fluid">
            </div>
            <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                <form id="Register">
                    <hr>
                    <div class="form-outline mb-4">
                        <label class="form-label text-light" for="username">Nhập Tài Khoản</label>
                        <input type="text" id="username" name="username" class="form-control form-control-lg"
                               placeholder="Nhập tài khoản của bạn"/>
                        <div id="usernameError" class="error text-light"></div>
                    </div>
                    <div class="form-outline mb-3">
                        <label class="form-label text-light" for="password">Nhập Mật Khẩu</label>
                        <input type="password" id="password" name="password" class="form-control form-control-lg"
                               placeholder="Nhập mật khẩu của bạn" />
                        <button type="button" class="btn position-absolute bottom-0 end-0 btnShowPassword">
                            <i class="bi bi-eye-fill" id="toggleShowPassword"></i></button>
                        <div id="passwordError" class="error text-danger"></div>
                    </div>
                    <div class="form-outline mb-3">
                        <label class="form-label text-light" for="repeatPassword">Nhập Lại Mật Khẩu</label>
                        <input type="password" id="repeatPassword" name="password" class="form-control form-control-lg"
                               placeholder="Nhập lại mật khẩu của bạn" />
<!--                        <button type="button" class="btn position-absolute bottom-0 end-0 btnShowPassword">-->
<!--                            <i class="bi bi-eye-fill" id="toggleShowPassword"></i></button>-->
                        <div id="repeatPasswordError" class="error text-danger"></div>
                    </div>
                    <div class="form-outline mb-3">
                        <label class="form-label text-light" for="email">Email</label>
                        <input type="email" id="email" name="email" class="form-control form-control-lg"
                               placeholder="Nhập email của bạn" />
                        <div id="emailError" class="error text-danger"></div>
                    </div>
                    <div class="form-outline mb-3">
                        <label class="form-label text-light" for="phone">Số Điện Thoại</label>
                        <input type="text" id="phone" name="phone" class="form-control form-control-lg"
                               placeholder="Nhập số điện thoại của bạn" />
                        <div id="phoneError" class="error text-danger"></div>
                    </div>
                    <div class="text-center text-lg-start mt-4 pt-2">
                        <button class="btn btn-primary btn-lg"
                                id="btnLogin"
                                onclick="btnRegister_click()"
                                style="padding-left: 2.5rem;
                                padding-right: 2.5rem;"
                                type="button"
                        >Đăng Ký
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<script type="application/javascript">
     btnRegister_click = async () =>{
        let accountData = {
            accountName: $("#username").val(),
            password : $("#password").val(),
            email : $("#email").val(),
            phone : $("#phone").val(),
            role: {
                role_id: '2',
                role_name: 'User'
            }
        }
        let response = await axios.post('register-api/register', accountData);
         if(response.status === 200 && response.data.status){
             Swal.fire({
                 position: "top-end",
                 icon: "success",
                 title: "Đăng ký Thành Công",
                 showConfirmButton: false,
                 timer: 1500
             }).then(() => {
                 window.location.href='/login'
             });
         } else {
             Swal.fire({
                 position: "top-end",
                 icon: "error",
                 title: "Đăng ký thất bại",
                 showConfirmButton: false,
                 timer: 1500
             });
         }
        clearForm()
    }
    clearForm = () =>{
        fillDetailForm({
            accountName: '',
            password: '',
            email: '',
            phone: '',
        });
    }
</script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://kit.fontawesome.com/77eced6b9d.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>
</body>
</html>