<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/layout-css/bookve.css}">
</head>
<body>
<div th:replace=" pages/Navbar/Navbar :: Nav"></div>
<header>

    <section>
        <img th:src="@{/images/BannerBookve.png}" style="width: 100%; height: 500px" class="banner">
        <div class="container" style="position: absolute;top: 120px;right: 25px;">
            <div class="header">
                <h1>Đặt vé với hơn <span class="highlight">150</span> hãng</h1>
                <p>Giá trực tiếp hãng - So sánh chuyến bay - Hỗ trợ sân bay</p>
            </div>
            <div class="booking-form">
                <form>
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <label for="departure" class="form-label">Từ</label>
                            <input type="text" class="form-control" id="departure" placeholder="Hồ Chí Minh (SGN)">
                        </div>
                        <div class="col-md-6">
                            <label for="destination" class="form-label">Đến</label>
                            <input type="text" class="form-control" id="destination" placeholder="Hà Nội (HAN)">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <label for="departure-date" class="form-label">Ngày đi</label>
                            <input type="date" class="form-control" id="departure-date">
                        </div>
                        <div class="col-md-6">
                            <label for="return-date" class="form-label">Ngày về</label>
                            <input type="date" class="form-control" id="return-date">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <label for="passenger" class="form-label">Hành khách</label>
                            <input type="number" class="form-control" id="passenger" value="1" min="1">
                        </div>
                    </div>
                    <button class="btn btn-primary btn-block" type="submit">Tìm chuyến bay</button>
                </form>
            </div>
        </div>
    </section>
</header>

<div class="container">
    <h1 class="mt-3">Giá vé nội địa tốt nhất</h1> <br>
    <p>Giá tốt nhất từ VietnamAirlines, Bamboo, Vietjet...</p>
    <div class="row">
        <div class=" col-sm-4" style="position: relative;">
            <div class="ticket-card">
                <h5 class="card-title">Hồ Chí Minh → Nha Trang</h5>
                <p>15/08/2024</p>
                <div class="price"><strong>1,184,000</strong></div>
                <div class="source" style="position: absolute; top: 25px; right: 20px">
                    <img th:src="@{/images/logovietnamairlines.png}" alt="Vietnam Airlines">
                </div>
                <a href="#" class="btn btn-custom" style="position: absolute; right: 50px; top: 85px;right: 35px">Xem</a>
            </div>
        </div>

        <div class="col-sm-4" style="position: relative;">
            <div class="ticket-card">
                <h5 class="card-title">Hà Nội → Phú Yên</h5>
                <p>16/08/2024</p>
                <div class="price"><strong>2,782,000</strong></div>
                <div class="source" style="position: absolute; top: 25px; right: 20px;">
                    <img th:src="@{/images/LogoVietJet.png}" alt="VietJet Air">
                </div>
                <a href="#" class="btn btn-custom" style="position: absolute; right: 50px; top: 85px;right: 35px">Xem</a>
            </div>
        </div>

        <div class="col-sm-4" style="position: relative;">
            <div class="ticket-card">
                <h5 class="card-title">Hà Nội → Huế</h5>
                <p>01/10/2024</p>
                <div class="price"><strong>681,600</strong></div>
                <div class="source" style="position: absolute; top: 25px; right: 20px">
                    <img th:src="@{/images/LogoBamboo.png}" alt="BamBoo Airways">
                </div>
                <a href="#" class="btn btn-custom" style="position: absolute; right: 50px; top: 85px;right: 35px">Xem</a>
            </div>
        </div>

        <div class="col-sm-4" style="position: relative;">
            <div class="ticket-card">
                <h5 class="card-title">Hồ Chí Minh → Vinh</h5>
                <p>12/12/2024</p>
                <div class="price"><strong>1,426,800</strong></div>
                <div class="source" style="position: absolute; top: 25px; right: 20px">
                    <img th:src="@{/images/logovietnamairlines.png}" alt="Vietnam Airlines">
                </div>
                <a href="#" class="btn btn-custom" style="position: absolute; right: 50px; top: 85px;right: 35px">Xem</a>
            </div>
        </div>

        <div class="col-sm-4" style="position: relative;">
            <div class="ticket-card">
                <h5 class="card-title">Phú Yên → Côn Đảo</h5>
                <p>15/12/2024</p>
                <div class="price"><strong>2,691,000</strong></div>
                <div class="source" style="position: absolute; top: 25px; right: 20px">
                    <img th:src="@{/images/LogoVietJet.png}" alt="VietJet Air">
                </div>
                <a href="#" class="btn btn-custom" style="position: absolute; right: 50px; top: 85px;right: 35px">Xem</a>
            </div>
        </div>
        <div class="col-sm-4" style="position: relative;">
            <div class="ticket-card">
                <h5 class="card-title">Vinh → Cần Thơ</h5>
                <p>15/12/2024</p>
                <div class="price"><strong>3,177,000</strong></div>
                <div class="source" style="position: absolute; top: 25px; right: 20px">
                    <img th:src="@{/images/LogoBamboo.png}" alt="BamBoo Airways">
                </div>
                <a href="#" class="btn btn-custom" style="position: absolute; right: 50px; top: 85px;right: 35px">Xem</a>
            </div>
        </div>
</div>
    <h1 class="mt-3">Giá vé Quốc tế tốt nhất</h1> <br>
    <p>Đảm bảo giá tốt từ 1000+ hãng bay quốc tế</p>
    <div class="row">
        <div class=" col-sm-4" style="position: relative;">
            <div class="ticket-card">
                <h5 class="card-title">Phú Yên → Singapore</h5>
                <p>26/12/2024</p>
                <div class="price"><strong>3,348,000</strong></div>
                <div class="source" style="position: absolute; top: 25px; right: 20px">
                    <img th:src="@{/images/logovietnamairlines.png}" alt="Vietnam Airlines">
                </div>
                <a href="#" class="btn btn-custom" style="position: absolute; right: 50px; top: 85px;right: 35px">Xem</a>
            </div>
        </div>

        <div class="col-sm-4" style="position: relative;">
            <div class="ticket-card">
                <h5 class="card-title">Phú Quốc → Singapore</h5>
                <p>22/10/2024</p>
                <div class="price"><strong>2,677,000</strong></div>
                <div class="source" style="position: absolute; top: 25px; right: 20px;">
                    <img th:src="@{/images/LogoVietJet.png}" alt="VietJet Air">
                </div>
                <a href="#" class="btn btn-custom" style="position: absolute; right: 50px; top: 85px;right: 35px">Xem</a>
            </div>
        </div>

        <div class="col-sm-4" style="position: relative;">
            <div class="ticket-card">
                <h5 class="card-title">Nha Trang → Hồng Kông</h5>
                <p>12/09/2024</p>
                <div class="price"><strong>4,401,000</strong></div>
                <div class="source" style="position: absolute; top: 25px; right: 20px">
                    <img th:src="@{/images/LogoBamboo.png}" alt="BamBoo Airways">
                </div>
                <a href="#" class="btn btn-custom" style="position: absolute; right: 50px; top: 85px;right: 35px">Xem</a>
            </div>
        </div>

        <div class="col-sm-4" style="position: relative;">
            <div class="ticket-card">
                <h5 class="card-title">Đà Nẵng → Hồng Kông</h5>
                <p>26/09/2024</p>
                <div class="price"><strong>4,155,000</strong></div>
                <div class="source" style="position: absolute; top: 25px; right: 20px">
                    <img th:src="@{/images/logovietnamairlines.png}" alt="Vietnam Airlines">
                </div>
                <a href="#" class="btn btn-custom" style="position: absolute; right: 50px; top: 85px;right: 35px">Xem</a>
            </div>
        </div>

        <div class="col-sm-4" style="position: relative;">
            <div class="ticket-card">
                <h5 class="card-title">Hồ Chí Minh → Hồng Kông</h5>
                <p>15/12/2024</p>
                <div class="price"><strong>1,607,000</strong></div>
                <div class="source" style="position: absolute; top: 25px; right: 20px">
                    <img th:src="@{/images/LogoVietJet.png}" alt="VietJet Air">
                </div>
                <a href="#" class="btn btn-custom" style="position: absolute; right: 50px; top: 85px;right: 35px">Xem</a>
            </div>
        </div>
        <div class="col-sm-4" style="position: relative;">
            <div class="ticket-card">
                <h5 class="card-title">Hà Nội → Hồng Kông</h5>
                <p>30/11/2024</p>
                <div class="price"><strong>3,052,000</strong></div>
                <div class="source" style="position: absolute; top: 25px; right: 20px">
                    <img th:src="@{/images/LogoBamboo.png}" alt="BamBoo Airways">
                </div>
                <a href="#" class="btn btn-custom" style="position: absolute; right: 50px; top: 85px;right: 35px">Xem</a>
            </div>
        </div>
    </div>
    <a>Vé máy bay</a>
    <div class="row">
        <div class="col-md-12">
            <p>
                <span class="font-weight-bold">Đánh giá: </span>
                <span class="stars" >
          <img th:src="@{/images/star_on.png}" alt="Star" class="star" data-value="1" style="width: 15px;height: auto">
          <img th:src="@{/images/star_on.png}" alt="Star" class="star" data-value="2" style="width: 15px;height: auto">
          <img th:src="@{/images/star_on.png}" alt="Star" class="star" data-value="3" style="width: 15px;height: auto">
          <img th:src="@{/images/star_on.png}" alt="Star" class="star" data-value="4" style="width: 15px;height: auto">
          <img th:src="@{/images/star_on.png}" alt="Star" class="star" data-value="5" style="width: 15px;height: auto">
        </span>
                <span>4.95/5</span>
                <span>trong</span>
                <span>1040 Đánh giá</span>
                <span><i class="fas fa-eye"></i> 50,689</span>
            </p>
        </div>
        <p>Phòng Vé máy bay công ty <strong>TTD</strong> là một trong những đại lý được ủy quyền của nhiều hãng hàng không trong nước và quốc tế. Quý khách có thể đặt vé máy bay giá rẻ trực tuyến đơn giản, an toàn, tiết kiệm ngay tại Website Du Lịch Việt. Đồng thời cũng có thể so sánh vé máy bay nội địa, quốc tế trực tiếp từ các hãng hàng không đồng thời thường xuyên cập nhật khuyến mãi, ưu đãi lớn - Dịch vụ tin cậy, hỗ trợ 24/7. </p>
        <a href="#" class="bookingve"><h4>Đặt Vé Ngay</h4></a>
    </div>
    <hr>
    <div class="row">
    <div class="col-4 image-container">
        <img th:src="@{/images/tinmaybay1.png}" style="width: 400px; height: 250px"> <br>
        <a href="#" class="tintucphu">Có nên mua vé máy bay trước khi xin visa?</a><br>
        <span><i class="fa-regular fa-calendar-days"></i></i>23/03/2024</span>
        <p>Visa là loại giấy tờ bắt buộc cần phải có khi đi ra nước ngoài, ngoại trừ một số quốc gia miễn visa đối với công dân Việt Nam nhưng tương đối ít. Nếu như</p>
    </div>
    <div class="col-4 image-container">
        <img th:src="@{/images/tinmaybay2.png}" style="width: 400px; height: 250px"><br>
        <a href="#" class="tintucphu">Các cách thanh toán vé máy bay nhanh chóng</a><br>
        <span><i class="fa-regular fa-calendar-days"></i></i>21/03/2024</span>
        <p>Ngày nay việc đặt vé máy bay trực tuyến (online) đã dần trở nên quen thuộc với khách hàng. Chỉ với vài bước đơn giản thì bạn sẽ dễ dàng tìm được một tấm</p>
    </div>
    <div class="col-4 image-container">
        <img th:src="@{/images/tinmaybay3.png}" style="width: 400px; height: 250px"><br>
        <a href="#" class="tintucphu">Top các trang web đặt vé máy bay giá rẻ</a> <br>
        <span><i class="fa-regular fa-calendar-days"></i></i>18/03/2024</span>
        <p>Hiện nay, có rất nhiều cách mua vé máy bay nhanh chóng và thuận tiện. Trong đó việc mua vé trực tuyến thông qua các trang web bán vé máy bay.</p>
    </div>
        <div class="col-4 image-container">
            <img th:src="@{/images/tinmaybay4.png}" style="width: 400px; height: 250px"> <br>
            <a href="#" class="tintucphu">Lưu ý khi đặt vé máy bay online</a><br>
            <span><i class="fa-regular fa-calendar-days"></i></i>15/03/2024</span>
            <p>Hiện nay, vé máy bay điện tử (vé máy bay online) đang dần được nhiều hành khách ưa chuộng sử dụng vì đem lại sự nhanh chóng và thuận tiện khi</p>
        </div>
        <div class="col-4 image-container">
            <img th:src="@{/images/tinmaybay5.png}" style="width: 400px; height: 250px"> <br>
            <a href="#" class="tintucphu">Nên mua vé máy bay từ hãng hàng không hay qua các đại lý?</a><br>
            <span><i class="fa-regular fa-calendar-days"></i></i>12/03/2024</span>
            <p>Bạn đang có nhu cầu đặt vé máy bay nhưng phân vân không biết mua vé máy bay như thế nào, mua vé máy bay uy tín? Việc quyết định mua vé máy</p>
        </div>
        <div class="col-4 image-container">
            <img th:src="@{/images/tinmaybay6.png}" style="width: 400px; height: 250px"> <br>
            <a href="#" class="tintucphu">Kinh nghiệm đặt vé máy bay Dubai</a><br>
            <span><i class="fa-regular fa-calendar-days"></i></i>11/03/2024</span>
            <p>Dubai, một trong những thành phố nổi tiếng nhất ở Các Tiểu vương quốc Ả Rập Thống nhất (UAE), luôn là điểm đến mơ ước của nhiều du khách trên toàn</p>
        </div>
        <a href="#" class="bookingve"><h4>Xem nhiều hơn</h4></a>
    </div>

</div>
<hr style="border: none;
            height: 3px;
            background-color: #f30383;
        }">
<div th:replace=" pages/Footer/Footer :: footer"></div>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const stars = document.querySelectorAll('.star');
        stars.forEach(star => {
            star.addEventListener('click', function () {
                alert('Bạn đã đánh giá ' + this.getAttribute('data-value'));
            });
        });
    });
</script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/77eced6b9d.js" crossorigin="anonymous"></script>
<script></script>
</body>
</html>